/* Use this to center any object other than an image */
/* OOOH! DANGEOURS!!! */
.obj_center_align {
    display: flex;
    justify-content: center;
}

.obj_round_corner {
    border-collapse: separate; /* Important */
    border-radius: 12px;       /* Adjust as needed */
    overflow: hidden;   
}